// SNCT Scss Document

body{
    font-size: 10px;
    img{
        max-width: 100%;
        height: auto;
    }
    header{
        nav{
            &.navbar{
                font-size: 120%;
                color: #ffffff;
                background-color: #763890;
                &.bg-snct{
                    background-color: #8e44ad;
                }
                a{
                    color: #ffffff;
                }
                .navbar-brand{
                    img{
                        max-width: 340px;
                    }
                }
            }
        }
    }
}


